/* src/components/Post/Posts.css */
.Post{
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 60px;
  margin-left: 20%;
  margin-right: 20%;
}
.Post-user {
  display: flex;
  padding: 16px;
  align-items: center;
}
.Post-user-avatar {
 width: 30px;
 height: 30px;
}
.Post-user-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.Post-user-nickname {
  margin-left: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.Post-image-bg {
  background-color: #efefef;
}
.Post-image img{
  display: block;
  width: 100%;
  max-height: 900px;
}
.Post-buttons{
  display: flex;
  height: 30px;
  padding-left: 10px;
  padding-top:5px;
  align-items: left;
}
.Post-buttons a{
  height: 25px;
  width: 25px;
  background-image: url(../sprite2.png);
  background-size: 405px 380px;
}
.heart{
  background-position:-126px -329px;
}
.comment{
  background-position:-258px -175px;
}
.dm{
  background-position: -351px -353px;
}
.save{
  background-position: -150px -354px;
}
.Post-caption{
  padding: 16px 45px;
  text-align: left;
}
.Post-caption strong {
  font-family: 'PT Sant', sans-serif;
  font-weight: bold;
}
.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}
